<div class="card">
  <div class="card-header">
    <h4>
      Detalle del Vehículo {{ vehiculo?.codigo }}: {{ vehiculo?.marca }}
      {{ vehiculo?.modelo }}
    </h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td class="py-2 col-8"><strong>Marca:</strong></td>
              <td class="py-2 col-4">{{ vehiculo?.marca }}</td>
            </tr>
            <tr>
              <td class="py-2 col-8"><strong>Modelo:</strong></td>
              <td class="py-2 col-4">{{ vehiculo?.modelo}}</td>
            </tr>
            <tr>
              <td class="py-2 col-8"><strong>Año:</strong></td>
              <td class="py-2 col-4">{{ vehiculo?.anio }}</td>
            </tr>
            <tr>
              <td class="py-2 col-8"><strong>Kilometraje:</strong></td>
              <td class="py-2 col-4">{{ vehiculo?.kilometraje }}</td>
            </tr>
            <tr>
              <td class="py-2 col-8"><strong>Precio:</strong></td>
              <td class="py-2 col-4">{{ vehiculo?.precio }}</td>
            </tr>
            <tr>
              <td class="py-2 col-8"><strong>Calificación:</strong></td>
              <td>
                <div *ngIf="vehiculo">
                  <app-calificacion [calificacion]="vehiculo.calificacion"></app-calificacion>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-6 d-flex justify-content-center align-items-center">
        <img
          [src]="vehiculo?.foto"
          class="img-fluid"
          style="height: 300px; width: auto"
        />
      </div>
    </div>
  </div>

  <div style="text-align: left; padding: 20px">
    <button
      [routerLink]="['/vehiculos']"
      class="btn btn-light border-dark"
      style="text-align: center; width: 20%"
    >
      <i class="fa fa-chevron-left mr-5" aria-hidden="true"></i>
      <span class="ml-5"> Regreso</span>
    </button>
  </div>
</div>
