<div class="card">
  <div class="card-header">LISTA DE CLIENTES</div>
  <div class="card-body">
    <div class="row">
      <div class="mb-3">
        <label for="exampleFormControlInput1">Filtro:</label>
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Nombre/Apellido"
          [(ngModel)]="filtro"
          (blur)="consultarClientes()"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-6">FILTRADO POR: {{ filtro }}</div>
      <div class="col-6 d-flex justify-content-end">
        <button class="btn btn-info" [routerLink]="['/nuevoCliente']">
          Agregar cliente
        </button>
      </div>
    </div>
    <div class="row mt-3" *ngIf="listaClientes.length !== 0">
      <div class="col-sm-12" style="overflow-x: auto">
        <table class="table table-light">
          <thead>
            <tr>
              <td colspan="6"></td>
              <td>
                <div class="row">
                  <td colspan="7">
                    <select
                      class="form-control"
                      [(ngModel)]="rows"
                      (change)="consultarClientes()"
                    >
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="100">100</option>
                    </select>
                  </td>
                </div>
              </td>
            </tr>
            <tr>
              <th>ID</th>
              <th>NOMBRE</th>
              <th>APELLIDO</th>
              <th>TELEFONO</th>
              <th>EMAIL</th>
              <th>USUARIO</th>
              <th>ACCIONES</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listaClientes">
              <td>
                {{ item.id }}
              </td>
              <td>{{ item.nombre }}</td>
              <td>{{ item.apellido }}</td>
              <td>{{ item.telefono }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.usuario }}</td>
              <td>
                <button
                  class="btn btn-primary"
                  [routerLink]="['/cliente/' + item.id]"
                >
                  Ver
                </button>
                &nbsp;
                <button
                  class="btn btn-success"
                  [routerLink]="['/editarCliente/'] + item.id"
                >
                  Editar
                </button>
                &nbsp;
                <button
                  class="btn btn-danger"
                  (click)="eliminarCliente(item.id)"
                >
                  Eliminar
                </button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="7">
                <nav
                  aria-label="Page navigation example"
                  class="d-flex justify-content-center"
                >
                  <ul class="pagination">
                    <li class="page-item">
                      <a class="page-link" (click)="atras()">Atrás</a>
                    </li>
                    <li
                      class="page-item"
                      *ngFor="let pagina of listaPaginas"
                      [ngClass]=""
                    >
                      <a class="page-link" (click)="cambiarPagina(pagina)">{{
                        pagina
                      }}</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" (click)="siguiente()">Siguiente</a>
                    </li>
                  </ul>
                </nav>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  <h2
    *ngIf="listaClientes.length === 0"
    class="text-danger text-center mt-5 mb-5"
  >
    No se encontró ningún cliente
  </h2>
</div>
