<div class="card">
  <div class="card-header">
    {{ isEdit ? "Editar cliente: " + id : "Registro del cliente" }}
  </div>
  <div class="card-body">
    <form [formGroup]="clienteForm" (ngSubmit)="onSubmit()">
      <div *ngIf="isEdit">
        <label for="id">Id</label>
        <input type="text" class="form-control mt-2" formControlName="id" />
      </div>
      <div class="mt-3">
        <label for="id">Nombre</label>
        <input type="text" class="form-control mt-2" formControlName="nombre" />
        <div
          class="alert alert-danger mt-3"
          *ngIf="
            clienteForm.get('nombre')?.invalid &&
            clienteForm.get('nombre')?.touched
          "
        >
          Este campo es obligatorio y debe tener entre 5 y 50 caracteres
        </div>
      </div>
      <div class="mt-3">
        <label for="apellido">Apellido</label>
        <input type="text" class="form-control mt-2" formControlName="apellido" />
        <div
          class="alert alert-danger mt-3"
          *ngIf="
            clienteForm.get('apellido')?.invalid &&
            clienteForm.get('apellido')?.touched
          "
        >
          Este campo es obligatorio y debe tener entre 5 y 50 caracteres
        </div>
      </div>
      <div class="mt-3">
        <label for="password">Password</label>
        <div class="input-group">
          <input
            [type]="showPassword ? 'text' : 'password'"
            class="form-control mt-2"
            formControlName="password"
            placeholder="Contraseña"
          />
          &nbsp;
          <div class="input-group-append mt-2">
            <button
              class="btn btn-outline-secondary"
              type="button"
              (click)="togglePasswordVisibility()"
            >
              <i
                class="fa"
                [ngClass]="{
                  'fa-eye': !showPassword,
                  'fa-eye-slash': showPassword
                }"
              ></i>
            </button>
          </div>
        </div>
        <div
          class="alert alert-danger mt-3"
          *ngIf="
            clienteForm.get('password')?.invalid &&
            clienteForm.get('password')?.touched
          "
        >
          Este campo es obligatorio y debe tener entre 8 y 30 caracteres
        </div>
      </div>
      <br />
      <input
        type="checkbox"
        formControlName="isChecked"
        (change)="onChange()"
      />
      ¿Desea contacto? <br />
      <div *ngIf="isChecked == true">
        <div class="mt-3">
          <label for="email">Dirección de correo</label>
          <input
            type="text"
            class="form-control mt-2"
            formControlName="email"
          />
          <div
            class="alert alert-danger mt-3"
            *ngIf="
              clienteForm.get('email')?.invalid &&
              clienteForm.get('email')?.touched
            "
          >
            Ingresar un correo electrónico válido
          </div>
        </div>
        <div class="mt-3">
          <label for="telefono">Teléfono</label>
          <input
            type="text"
            class="form-control mt-2"
            formControlName="telefono"
          />
          <div
            class="alert alert-danger mt-3"
            *ngIf="
              clienteForm.get('telefono')?.invalid &&
              clienteForm.get('telefono')?.touched
            "
          >
            Este campo es obligatorio y debe tener entre 7 y 10 dígitos
          </div>
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-success btnSend mt-3 mx-3"
        style="max-width: 10rem; font-size: 1rem;"
        [disabled]="clienteForm.invalid"
      >
        {{ isEdit ? "Actualizar cliente" : "Registrar cliente" }}
      </button>
    </form>
  </div>
  <div class="card-footer text-center">
    <button
      type="button"
      (click)="regresar()"
      class="btn btn-warning btnSend mt-3 mx-1 px-5"
      style="max-width: 10rem; font-size: 1rem;"
    >
      Inicio
    </button>
  </div>
</div>
